.hide{
    display: none;
}
.answerCard{
    color: rgba(555,555,555, 0);
}

.answerCard:hover,
.answerCard:active{
    color: rgb(255,0,0);
    font-weight: bold;
    cursor:help;
}

.carousel{
    background-color: var(--color-red-ligth-1);
}

@media (max-width: 545px) { 
    .table{
        font-size: 1rem;
    }
    
}
