.hide{
    display: none;
}
.answerCard{
   // color: rgba(555,555,555, 0);
   font-size: large;
}


.answerCard:hover,
.answerCard:active{
    color: rgb(255,0,0);
    font-weight: bold;
    cursor:help;
}

.carousel{
    background-color: var(--color-blue-dark-2);
}



@media (max-width: 545px) { 
    .card{
        width:  48vw !important;
    }
    .card input{
        width: 39vw;
    }
    .table{
        font-size: 1rem;
    }
    
}
