<footer>
    <p class="text-center p-5">Tohle je footer</p>
</footer>

<script>var exports = {};</script>
<script type="module"  src="/js/localStorage.js"></script>
<script type="module"  src="/js/verbs.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html> 