<footer>
    <p class="text-center p-5">Tohle je footer</p>
</footer>

<script type="text/javascript"  src="./js/localStorage.js"></script>
<script type="text/javascript"  src="./js/verbs.js"></script>
<script type="text/javascript"  src="./js/app.js"></script>
</body>
</html> 