


<div class="row">

<button class="btn btn-primary w-50" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">English</button>

<button class="btn btn-primary w-50" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Deutsch</button>

</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">English</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    
    <div class="list-group">
      <a href="/english/irregularTable" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Irregular Verbs tabulka</h5>
          <small>Few hours ago</small>
        </div>
        <p class="mb-1">Podívej se na list nepravidelných sloves v Angličtině</p>
      </a>

      <a href="/english/irregularExercise1" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Irregular Verbs exercise</h5>
          <small>1 day ago</small>
        </div>
        <p class="mb-1">Procvič si nepravidelná slovesa v Angličtině</p>
      </a>
     



      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Již brzy...</h5>
          <small class="text-muted">0 days ago</small>
        </div>
        <p class="mb-1">Další lekce</p>
        
      </a>
    </div>

  </div>
</div>




<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdroped with scrolling</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="list-group">
      <a href="/deutsch/wortschatz1" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Deutsch Wortschatz</h5>
          <small>Few hours ago</small>
        </div>
        <p class="mb-1">Nauč se důležitá německá slovíčka</p>
      </a>

      
     
   
    </div>
  </div>
</div>
