<%- include('partials/header') %>

<%- include('partials/navbar') %>

<section class=" text-light mt-5 p-5 ">
    <div class="container">
        <div class="row">
            
            
        

<h1 class="text-primary">Home</h1>




</div>
</div>
 </section>

<%- include('partials/footer') %>

