.hide{
    display: none;
}
.answerCard{
color: rgba(555,555,555, 0);
   font-size: large;
}


.answerCard:hover,
.answerCard:active{
    color: rgb(255,0,0);
    font-weight: bold;
    cursor:help;
}

.carousel{
    background-color: var(--color-blue-dark-2);
}

.hidden{
    display: none;
  }

 input{
     text-align: center;
 }

@media (max-width: 545px) { 
    .cardIrr{
        width:  48vw  !important;
        //margin: 0 auto;
    }
   
    .card input{
        width: 39vw;
    }
    .table{
        font-size: 1rem;
    }
    .total-score{
        font-size: 5vw;
    }
    .carousel-item h1,
    .card-header h3,
    .list-group-item{
        font-size: 4vw;   
        padding: 0.6vh;   
    }
    
}

@media (max-height: 820px) {
    .total-score{
        font-size: 3vh;     
    }
    .carousel-item h1 {display:none}

    .card-header h3,
    .list-group-item{
        padding: 0.3vh;  
        
    }

}

